.posts{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(111, 102, 102);
    background-color: black;
}

.navBar{
    background-color:Yellow;
    display:inline;
    color:black;
    text-align: center;
}

.navBar li{
    display:inline;
    padding: 20px;
}

